    /* Remove the navbar's default rounded borders and increase the bottom margin */

    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */

    .jumbotron {
        margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */

    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }

    .rcorners1 {
        border-radius: 15px;
        background: rgb(194, 190, 255);
        padding: 20px; 
        width: 200px;
        height: 150px; 
        text-align: center;
        font-size: 18px;
        width: 100%;
    }